body {
  margin: 30px;
}

.form-control {
  display: flex;
  flex-direction: column;
}

.input-spacing {
  margin-top: 20px;
  width: fit-content;
}

.rc-cascader-menu > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 200px;
  border: 1px solid grey;
  padding: 3px;
  cursor: pointer;
}